.header{
    
    background-color:aqua;
    
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 150px;
    
}
.container{
    padding-left: 30px;
     margin-top: 20px; 
    
    


}
#heading{
    margin-top: 5px;
    /* border: 4px solid blueviolet; */

}
#intro{
   

}

.list{
margin-top: 0px;


}

.input-div{
    margin:10px
}

.reg-frm{
width:300px;
height:auto;
padding: 10px;;
border: 2px solid red;


}


.form-contoral{

    width:93%;
    padding: 7px;
}